<div class="card col-12" style="margin-top: 10px; margin-bottom: 20px; padding: 10px 10px 10px 10px">
    <div class="card-block">
        <h4 class="card-title text-center">{{name}}</h4>
    </div>
    <img id="img-speaker" class="card-img-bottom" src="/images/speakers/{{image}}" alt="photo speaker" style="">
    <div class="card-block">
        <div class="row col-12" id="social-list">
            {{social}}
        </div>
        <div class="row">
            <h6 class="col-12">Ses présentations</h6>
            <div class="col-12">
                {{presentations}}
            </div>
        </div>
    </div>
</div>
