<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Conférence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#sessions-list">Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#speakers-list">Présentateurs</a>
        </li>
      </ul>

    </div>
  </nav>

  <section id="main-view" class="container-fluid col-12">
    <div class="row">
        <img id="image-conf" class="card-img-top" src="/images/king-ju.jpg" alt="image conf">
    </div><!-- fin row -->

    <div class="row">
      <div id="titre" class="col-12 text-center">
          <h2>Conférence</h2>
      </div>
      <div id="heure"class="col-12 text-center">
        <p>8h00 - 22h00</p>
      </div>
      <a id="list-btn" class="btn btn-primary col-12" href="#sessions-list" style="margin-bottom:10px">
        Voir les Sessions
      </a>
      <a id="list-btn" class="btn btn-primary col-12" href="#speakers-list">
          Voir les Présentateurs
      </a>

  </section>
